<div class="navbar">

    <div class="header-div">
      <a routerLink="/">
        <img class="logo_icon" src="../../images/logo1.png">
        <h1>NCKU HUB</h1>
      </a>
    </div>

    <div class="search-div">
      <img class="search_icon" src="../../images/search1.png">
      <input type="search" name="search-bar" autocomplete="off" placeholder="搜尋課程名稱">
    </div>

    <div class="right_area">
      <div class="navbar_link" routerLink="/">找課程</div>
      <div class="navbar_link">排課表</div>
      <img class="navbar_profile" src="../../images/profile.png">
    </div>
</div>



