@import "../course-list/course-list.component.scss";
.favorite_div{
    height: 74%;

    .empty {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }
    
    ul {
        margin-top:-15px;
        margin-left:-50px;
    
        li{
          margin-bottom: -14px;
          background-color:white;
          list-style: none;
    
          &:hover{
            background-color: #eaeaf342;
          }

          .course_circle{

            &:hover{
              background-color: red;
            }

            &__normal:hover{
              display: none;
            }
          }
        }
    }
}


